<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

<listeners>
  <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter" />
</listeners>
  <test name="RegressionLogin" >
    <classes>
       <class name="TestClass.TestUserRegisration" />
    </classes>
  </test>
 
  <test name="RegressionLogin2">
    <classes>
      <class name="TestClass.TestUserLogin"/>
      
    </classes>
  </test>
</suite>
